<html>
  <head>
    <title>La team</title>
  </head>
<body>
      <div class="card">
          <div class="card-body">
              <h5 class="card-title">The Gossip Project</h5>
              <p class="card-text">La team de matthieu.</p>
          </div>
  </body>
</html>
